<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="surprise" xsi:type="array">
                    <item name="class" xsi:type="string">TSG\Surprise\Ui\DataProvider\Product\Form\Modifier\Surprise</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>

            </argument>
        </arguments>
    </virtualType>

    <type name="TSG\Surprise\Ui\DataProvider\Product\Form\Modifier\Surprise">
        <arguments>
            <argument name="scopeName" xsi:type="string">product_form.product_form</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product\Link\SaveHandler">
        <plugin name="save_link_surprise_custom_model_after" type="\TSG\Surprise\Plugin\SaveLinkCustomModel" sortOrder="1" disabled="false" />
    </type>


</config>